.a1{position: absolute;
    font-style: italic;
    color: whitesmoke;
    font-size: 400%;   
    text-shadow:0 0 3px #eac809;
    margin: 30px 0px 0px 580px ;
    z-index: 1;
    object-fit: cover;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
   
  }
.a2{
    z-index: -1;
    margin: -93px 0px 0px -4px;
    position: absolute;
    object-fit: cover;
}

.a3{z-index: -2;
    position: relative;
margin: 0px 0px 7px 0px;
object-fit: cover;}

.a4{background-color: azure; border: 2px solid rgba(255, 0, 0, 0.214); height: 300px; width:450px;
margin: -700px 0px 0px 1010px;
 z-index: 2;}

 .t2{ border: 2px solid black;height: 400px; width: 500px; text-align: 
    center;background-color: rgba(234, 51, 100, 0.268); z-index: 3; margin: -800px 0px 0px 1350px;
    border-radius: 3%;}



.but{
font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: larger;
}
.but1{ background-color: rgba(128, 226, 31, 0.512); width: 200px;}

#name1{height: 25px; width: 300px;}
#name2{height: 25px; width: 300px;}






